/* COLOURS:
#27221d
#bd9b4c
#e2bf6d
#e2bf6d
#51402f
#ccb89c
#fffdfb 
*/

html {
  /* background-color: #f1f1ef; */
  background-image: linear-gradient(to bottom, #f1f1ef, #50473e);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  align-items: center;
}

#map {
  height: 500px;
  width: 95%;
  margin: auto;
}

header {
  margin: 0;
  /* background-color: #2b4745; */
  background-image: linear-gradient(to bottom, #152927, #2d6965);
  color: #fffdfb;
  padding: 10px 0;
  position: sticky;
  top: 0;
}

#header-content {
  width: 95%;
  margin: auto;
  padding: 0;
  display: flex;
  position: sticky;
}

#header-profile {
  width: 50%;
  display: flex;
  justify-content: right;
  text-decoration: none;
}

#header-profile a {
  width: 20%;
  margin-right: 5%;
  display: flex;
  justify-content: right;
  text-decoration: none;
}

#header-profile a p {
  margin-right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #fffdfb;
  text-decoration: none;
}

#header-profile a:hover p {
  color: #cac4b8;
}

#header-profile img {
  width: 40%;
  height: auto;
  min-width: 32px;
  max-width: 50px;
  margin: auto 0;
}

#profile-title {
  width: 50%;
  display: flex;
  justify-content: left;
}

#profile-title a {
  margin-left: 5%;
  display: flex;
  justify-content: left;
  text-decoration: none;
}

#profile-title a h1 {
  color: #fffdfb;
  margin: auto;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

#profile-title a:hover h1 {
  color: #cac4b8;
}

/* ---------------------------------------------------------------
PROFILE SPECIFIC:                                                       */

main {
  min-height: 85vh;
}

/* ---------------------------------------------------------------
SIGNUP/LOGIN CHOICE VIEW:                                                       */

#login-or-signup {
  width: 30%;
  margin: 60px auto;
  padding: 80px 40px;
  background-color: #fffdfb;
  border: 5px outset #2faaa0;
}

#login-or-signup button {
  background-color: #2faaa0;
  width: 40%;
  margin: 10px 30%;
  padding: 10px 20px;
  font-size: 18px;
  color: #fffdfb;
  border: 1px solid #2faaa0;
  border-radius: 5px;
}

#login-or-signup button:hover {
  background-color: #2d6965;
}

#login-or-signup h1 {
  text-align: center;
  margin: 40px auto;
  font-size: 22px;
}

/* ---------------------------------------------------------------
LOGIN VIEW:                                                       */

#login-box {
  text-align: center;
  width: 30%;
  margin: 60px auto;
  padding: 80px 40px;
  background-color: #fffdfb;
  border: 5px outset #2faaa0;
}

#login-box #login-button {
  background-color: #2faaa0;
  width: 30%;
  margin: 30px 35% 10px 35%;
  padding: 10px 20px;
  font-size: 18px;
  color: #fffdfb;
  border: 1px solid #2faaa0;
  border-radius: 5px;
}

#login-box #login-button:hover {
  background-color: #2d6965;
}

#login-box input {
  width: 70%;
  margin: 5px 15%;
  font-size: 18px;
  padding: 5px;
}

#login-box label {
  display: inline-block;
  text-align: left;
  width: 70%;
  margin: 20px 0 2px 0;
}

#login-box h1 {
  text-align: center;
  margin: 40px auto;
  font-size: 22px;
}

#login-box p {
  width: 30%;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
  color: #2faaa0;
  text-align: center;
}

#login-box p:hover {
  color: #2d6965;
}

/* ---------------------------------------------------------------
SIGNUP VIEW:                                                       */

#signup-box {
  text-align: center;
  width: 30%;
  margin: 60px auto;
  padding: 80px 40px;
  background-color: #fffdfb;
  border: 5px outset #2faaa0;
}

#signup-box #signup-button {
  background-color: #2faaa0;
  width: 30%;
  margin: 30px 35% 10px 35%;
  padding: 10px 20px;
  font-size: 18px;
  color: #fffdfb;
  border: 1px solid #2faaa0;
  border-radius: 5px;
}

#signup-box #signup-button:hover {
  background-color: #2d6965;
}

#signup-box input {
  width: 70%;
  margin: 5px 15%;
  font-size: 18px;
  padding: 5px;
}

#signup-box label {
  display: inline-block;
  text-align: left;
  width: 70%;
  margin: 20px 0 2px 0;
}

#signup-box h1 {
  text-align: center;
  margin: 40px auto;
  font-size: 22px;
}

#signup-box p {
  width: 30%;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
  color: #2faaa0;
  text-align: center;
}

#signup-box p:hover {
  color: #2d6965;
}

/* ---------------------------------------------------------------
PROFILE VIEW:                        */

#content-box {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
  padding: 30px 60px;
  background-color: #fffdfb;
}

#avatar-box {
  text-align: right;
  width: 20%;
}

#image-container {
  width: 100%;
}

#info-box {
  width: 40%;
}
